* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  @font-face {
    src: url(../fonts/OpenSans-Bold.ttf);
    font-family: OpenSans-Bold, sans-serif;
}

  @font-face {
    src: url(../fonts/OpenSans-Regular.ttf);
    font-family: OpenSans-Regular, sans-serif;
}

  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 25px 15px 0;
  }
  /*стили для header*/
  
  .header {
    position: relative;
    background-image: url("https://github.com/netology-code/html-2-diploma/blob/master/sources/images/banner-bg.jpg?raw=true");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    min-height: 449px;
    font-family: OpenSans-Bold;
    background-color: #ffffff;
    z-index: 1;
  }
  
  .header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
  }
  
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-logo {
    width: 180px;
  }
  
  .menu-list {
    list-style: none;
    display: flex;
  }
  
  .menu-list-item:nth-child(n + 2) {
    margin-left: 35px;
  }
  
  .menu-link {
    font-family: OpenSans-Regular;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }
  
  .title-one {
    font-family: OpenSans-Bold;
    font-weight: 700;
    font-size: 45px;
    width: 720px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.7;
    margin-left: 223px;
    margin-top: 100px;
  }
  
  /* cтили для main*/
  .heading {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }
  .trend {
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/trend1.jpg);
    background-color: #000000;
    background-size: cover;
    width: 417px;
    height: 320px;
  }
  .trend2 {
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/trend2.jpg);
    background-size: cover;
    width: 417px;
    height: 320px;
}
 .trend3 {
   position: relative;
   background-repeat: no-repeat;
   background-image: url(../images/trend3.jpg);
   background-size: cover;
   width: 417px;
   height: 320px;
}
.trend4 {
  position: relative;
  background-repeat: no-repeat;
  background-image: url(../images/trend4.jpg);
  background-size: cover;
  width: 417px;
  height: 320px;
}

  .content {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 64px 15px 0 15px;
  }
  
  .wrap {
    background-color: #ffffff;
  }
  
  .preview-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 778px;
  }
  
  .image {
    width: 380px;
    background-color: #eff6f1;
  }
  
  .text {
    margin-left: 30px;
    width: 367px;
    height: 294px;
  }
  
  .preview-list:nth-child(n + 1) {
    margin-bottom: 55px;
  }
  
  .post {
    color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .post-list {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
  }
  
  .nav-link {
    font-family: OpenSans-Bold;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    color: #b59f5b;
  }
  
  .post-list-item {
    margin-top: -5px;
  }
  
  .post-list-item:nth-child(n + 2) {
    margin-left: 19px;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
  
  .frame-name {
    font-family: OpenSans-Bold;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 5px;
  }
  
  .frame-text-info {
    margin-top: 26px;
  }
  
  .frame-date {
    font-family: OpenSans-Regular;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
  }
  
  .autor {
    font-family: OpenSans-Bold;
    font-weight: 700;
    font-size: 12px;
    color: #000000;
    margin-left: 2px;
  }
  
  .lead {
    font-family: OpenSans-Regular;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 48px;
  }
  
  .lead:nth-child(odd) {
    margin-top: 9px;
  }
  
  /* стили для Sidebar*/
  .sidebar {
    display: flex;
    width: 272px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -7px;
  }
  
  .caption {
    font-family: OpenSans-Bold;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .caption::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin-left: 105px;
    margin-top: 10px;
  }
  
  .latest-post {
    display: flex;
  }
  
  .base {
    width: 70px;
    background-color: #eff6f1;
  }
  
  .text-info {
    padding-left: 19px;
    margin-top: -5px;
  }
  
  .latest-date {
    font-family: OpenSans-Regular;
    font-weight: 400;
    font-size: 12px;
  }
  
  .icon,
  .text-info:nth-child(n + 2) {
    margin-bottom: 18px;
  }
  
  .tagline {
    font-family: OpenSans-Bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
  }
  
  .form {
    display: flex;
    flex-direction: nowrap;
    margin-top: 38px;
  }
  
  .search {
    width: 223px;
    background-color: #f4f7f6;
    vertical-align: middle;
    padding: 19px;
    border: none;
  }
  
  .submit {
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    cursor: pointer;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    border: none;
  }

  

  .input {
    width: 272px;
    height: 48px;
    background-color: #f4f7f6;
    display: inline-block;
    vertical-align: middle;
    padding: 19px;
    border: none;
    margin-bottom: 18px;
  }
  
  .mailing {
    width: 272px;
    height: 48px;
    background-color: #b59f5b;
    cursor: pointer;
    border: none;
    font-family: OpenSans-Bold;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .tegs-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
  }
  
  .teg {
    font-family: OpenSans-Bold;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    border: 3px solid #eeeeee;
    padding: 4px 13px;
    line-height: 3;
  }
  
  .tegs:nth-child(n + 1) {
    margin-right: 6px;
  }
  
  .themes {
    width: 100%;
  }
  
  .theme-link {
    font-family: OpenSans-Bold;
    font-weight: 700;
    font-size: 14px;
  
    list-style: none;
    line-height: 3.4;
  }
  
  .themes-number {
    padding-left: 3px;
    color: #b59f5b;
    font-size: 12px;
    vertical-align: super;
  }
  
  .theme-link::after {
    content: "";
    display: block;
    width: 272px;
    height: 1px;
    background-color: #eeeeee;
    top: 48px;
  }
  
  .new-posts,
  .subscribe,
  .meta,
  .themes {
    margin-bottom: 62px;
  }
  
  /*стили для footer*/
  .footer {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0 15px 30px;
  }
  
  .social-network{
    background-color: #f4f7f6;
    padding-bottom: 32px;
  }
  
  .social:nth-child(n + 2) {
    margin-left: 25px;
  }
  
  .social-icons {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
   }
  
  .social-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 22px;
    padding: 12px;
   }
  
  .profile {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
  .social-icon_twitter {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
  }
  
  .social-icon_pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
  }
  
  .social-icon_facebook {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
  }
  
  .social-icon_instagram {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
  }
  
  .social-icon_tumblr {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
  }
  
  .copyrights{
   text-align: center;
   margin-top: 65px; 
  } 
  
  .copyright {
    font-family: OpenSans-Bold;
    font-size: 12px;
    text-decoration: none;
    color: #999999;
   }
  
  